<div class="text-yellow ms-5 p-3"><br>
  <h5 class="text-center"><b>{{aim}}</b></h5>
</div>
<div class="container ">
  <form (ngSubmit)="login()">
    <div class="card border-dark mb-3" style="background:rgb(131, 131, 99,0.5);"><br>
      <div class="card-header">
        <h5 class="text-center"><b>Login</b> </h5>
      </div>
      <div class="card-body text-dark">
        <div class="mt-2 pt-2">
            <input name="acno" class="form-control" type="text" [placeholder]="acnt" [(ngModel)]="acno" id="acid"> <br>

            <input name="psw" class="form-control" type="password" [(ngModel)]="pswd" placeholder="Password" id="pid">
            <div class="te"><a href="" class="">Forgot Password <b>?</b></a></div>
            <!-- </div>   -->
         <br>
          <button type="submit" class="btn btn-success">login</button><br>
        </div>
        <div class="te"> Don't you have an account?<a href="" routerLink="register" class="text-info">Register</a></div>
        <br>
      </div>
    </div>
  </form>
</div>
