<div class="pe-5 ps-5 mt-3 ms-3">
    <h3 class="text-center">Welcome {{user}}!!</h3>
</div>
<div class="row">
    
    <div class="container p-5">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-lg-5 col-sm-10">
                <form (ngSubmit)="deposit()">
                    <div class="card border-dark mb-3" style="background:rgb(131, 131, 99,0.5);"><br>
                        <div class="card-header">
                            <h5 class="text-center"><b>Cash Deposit</b> </h5>
                        </div>
                        <div class="card-body text-dark">
                            <div class="mt-2 pt-2">
                                <input name="acnumber" class="form-control" type="text" placeholder="account number"
                                    [(ngModel)]="acnum" id="acno"> <br>

                                <input name="password" class="form-control" type="password" [(ngModel)]="pswrd"
                                    placeholder="Password" id="psw"><br>
                                <input name="amount" class="form-control" type="text" placeholder="amount to deposit"
                                    [(ngModel)]="amnt" id="amt">
                                <!-- </div>   -->
                                <br>
                                <div class="text-center mt-2 p-2">
                                    <button type="submit" class="btn btn-success">Deposit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5 col-sm-10">
                <form (ngSubmit)="withdraw()">
                    <div class="card border-dark mb-3" style="background:rgb(131, 131, 99,0.5);"><br>
                        <div class="card-header">
                            <h5 class="text-center"><b>Cash Withdrawal</b> </h5>
                        </div>
                        <div class="card-body text-dark">
                            <div class="mt-2 pt-2">
                                <input name="acnumber1" class="form-control" type="text" placeholder="account number"
                                    [(ngModel)]="acnum1" id="acno1"> <br>

                                <input name="password1" class="form-control" type="password" [(ngModel)]="pswrd1"
                                    placeholder="Password" id="psw1"><br>
                                <input name="amount1" class="form-control" type="text" placeholder="withdarwal amount"
                                    [(ngModel)]="amnt1" id="amt1">
                                <!-- </div>   -->
                                <br>
                                <div class="text-center mt-2 p-2">
                                    <button type="submit" class="btn btn-danger">Withdrawal</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class=" ms-3 pe-5 ps-5  bg-dark text-center"
        style="height: 50px; width: 300px; border-radius: 10px; align-items: center;">
        <a routerLink="/transaction">view transaction history</a>
    </div>
</div>